#departament_info{
  overflow: auto;
}
table{
  font-size: 0.8rem;
  max-width: 70vw;
  margin: auto;
  margin-bottom: 1rem;
  overflow-x: auto;
  border-radius: 8px;
  border: 2px solid #222;
}
h1{
  margin: 40px;
}
tbody{
  padding: 0;
  margin: 0;
}
table th{
  padding: 4px;
  border-right: 1px solid #fafafa;
  border-bottom: 2px solid #555;
}
table thead tr{
  border-bottom: 1px solid #333;
  background-color: #fefefe;
}
table tr{
  background: #fefefe;
}
table td:first-child{
  font-weight: 800;
}
tr:hover{
  background-color: rgb(120, 104, 104);
}
table tbody>tr>td{
  text-align: right;
  border-right: 0px solid #fefefe;
  text-align: right;
  padding: 4px 12px;
}

/* BOTON UP */
#btn_to_top{
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #222;
  border-radius: 9999px;
  border: 2px solid #fafafa;
  visibility: hidden;
  cursor: pointer;  
  transition: all .2s linear;
  filter: blur(5px);
}
#btn_to_top.show{
  visibility: visible;
  filter: blur(0px);
}
#btn_to_top img{
  width: 50%;
  object-fit: contain;
}