/*Normalize document*/
html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-image: radial-gradient(#0010ee 1px,transparent 0),radial-gradient(#33b921 1px,#fefefe 0);
  background-size: 40px 40px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  padding: 0 2rem 2rem;
  min-height: 100vh;
  flex-direction: column;
}

.main_title {
  text-align: center;
  font-size: 1.8rem;
  margin: 5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

#logo {
  font-size: 1.2em;
  font-weight: 900;
  padding-left: 10px;
}
a {
  text-decoration: none;
  color: #000;
}

#navbar {
  display: flex;
  background-color: #91b3d1;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
}
ul li {
  margin: 0 8px;
}


.menu {
  display: flex;
  margin: 0;
  position: absolute;
  flex-direction: column;
  width: 100%;
  top: 60px;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  transition: height 0.5s;
  height: 0;
  z-index: 10000;
  background-color: #91b3d1;
}

.menu li {
  font-size: 20px;
  padding: 0;
  margin: 15px 0;
}

#toggle {
  display: flex;
  align-items: center;
  right: 10px;
  height: 20px;
  cursor: pointer;
  padding-right: 15px;
}

#toggle span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
}
#toggle span::after,
#toggle span::before {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
}
#toggle span::after {
  transform: translateY(5px);
}
#toggle span::before {
  transform: translateY(-8px);
}

footer{
  padding: 10px;
}

footer p, footer h3{
  text-align: left;
  padding: 10px;
}

footer section{
  margin: 5px auto;
}

footer ul {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  #toggle {
    display: none;
  }
  .menu {
    position: initial;
    flex-direction: row;
    margin: 0;
    width: initial;
    padding: 0px;
    height: initial;    
  }
  .menu li {
    margin: 0 12px;
  }
  footer{
    display: flex;
    flex-direction: row;
    padding: 10px;
  }
}

/* Switch Mode Color */
.color_switch{
  align-items: center;
  border: 1px solid #000;
  background: #fefefe;
  border-radius: 5000px;
  display: flex;
  height: 26px;
  left: 32px;
  overflow: hidden;
  position: fixed;
  top: 76px;
  z-index: 100;
}

#slider {
  background-color: #2c7cdc;
  bottom: 0;
  display: block;
  left:0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: transform 0.3s;
  width: 50%;
}

.color_switch label{
  cursor: pointer;
  font-size: 1rem;
  line-height: 26px;
  padding: 0 8px;
  opacity: 0.5;
  z-index: 1;
}

.color_switch label[data-checked="true"]{
  opacity: 1;
}

.color_switch input[type="radio"]{
  display: none;
}
/* Dark Mode - NavBar */
html[schema="dark-mode"] #navbar{
  background-color: rgb(35, 31, 31);
}

html[schema="dark-mode"] #navbar a{
  color: #fff;
}

/* Dark Mode - Index */
html[schema="dark-mode"] .card{
  background-color: #000;
  border: 1px solid #fff;
}
html[schema="dark-mode"] span{
  color: #fff;
}
/* Dark Mode - Table */
html[schema="dark-mode"] body{
  background-image: radial-gradient(#0010ee 1px,#0000 0),radial-gradient(#33b921 1px,#000000 0) !important;
  color: rgb(255, 255, 255);
}
html[schema="dark-mode"] table td, html[schema="dark-mode"] table th{
  color: #fff;
  border-right: 2px solid #222
}
html[schema="dark-mode"] #departament_info{
  border: 2px solid #fafafa;
}
html[schema="dark-mode"] table tr:nth-child(2n){
  background-color: #555;
}

html[schema="dark-mode"] table tr{
  background-color: #000;
}

html[schema="dark-mode"] .menu{
  background-color: #000;
}